body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    background: black;
}

a {
    color: #000;
}

.search-form {
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    background: #fff;
    margin: 50px auto;
    line-height: 40px;
    font-size: 18px;
    box-shadow: 0px 0px 3px #111;
    overflow: hidden;
    position: relative;
    width: auto;
}

.search-form span {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
}

span.slens {
    position: absolute;
    z-index: 1;
}

input#s {
    width: 0px;
    margin: 0px 0px;
    padding: 0px 0px 0px 40px;
    border: none;
    height: 40px;
    vertical-align: top;
    position: relative;
    z-index: 2;
    background: transparent;
    -webkit-transition: width 1s;
    /* Safari */
    transition: width 1s;
}

input#s:focus {
    outline: none;
    width: 180px;
}

.slens i {
    color: #aaa;
}

input#s+.sclose {
    width: 0px;
}

input#s:focus+.sclose {
    width: 40px;
    cursor: pointer;
}

.sclose i {
    color: red;
}

.main-header {
    width: 100%;
    background: #eee;
    box-shadow: .2rem .2rem .1rem 0 rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

.main-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    width: 50%;
}

.main-header ul a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}

.logo {
    display: block;
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    font-weight: 700;
}

.main-header ul a:hover {
    background: #ddd;
}

.main-header .menu {
    width: 50%;
    max-height: 0;
    transition: max-height .4s ease-in;
    text-align: center;
}

.menu-icon {
    padding: 2rem 1.5rem;
    position: relative;
    cursor: pointer;
    order: 3;
}

.nav-icon {
    background: #000;
    display: block;
    height: .2rem;
    width: 1.4rem;
    position: relative;
    transition: background .2s ease-out;
    position: right;
}

.nav-icon:before {
    background: #000;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
    transition: all .2s ease-out;
}

.nav-icon:after {
    background: #000;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    transition: all .2s ease-out;
}

.menu-btn {
    display: none;
}

input:checked~.menu {
    max-height: 25rem;
}

.menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}