body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
}

a {
    color: hsl(184, 9%, 62%);
}

.search-form {
    height: 40px;
    display: inline-block;
    border-radius: 20px;
    background: #fff;
    margin: 50px auto;
    line-height: 40px;
    font-size: 18px;
    box-shadow: 0px 0px 3px #111;
    overflow: hidden;
    position: relative;
    width: auto;
}

.search-form span {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
}

span.slens {
    position: absolute;
    z-index: 1;
}

input#s {
    width: 0px;
    margin: 0px 0px;
    padding: 0px 0px 0px 40px;
    border: none;
    height: 40px;
    vertical-align: top;
    position: relative;
    z-index: 2;
    background: transparent;
    -webkit-transition: width 1s;
    transition: width 1s;
}

input#s:focus {
    outline: none;
    width: 180px;
}

.slens i {
    color: #aaa;
}

input#s+.sclose {
    width: 0px;
}

input#s:focus+.sclose {
    width: 40px;
    cursor: pointer;
}

.sclose i {
    color: red;
}

.main-header {
    width: 100%;
    background: #eee;
    box-shadow: .2rem .2rem .1rem 0 rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

.main-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    width: 50%;
}

.main-header ul a {
    display: block;
    text-decoration: none;
    padding: 1rem;
}

.logo {
    display: block;
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    font-weight: 700;
}

.main-header ul a:hover {
    background: #ddd;
}

.main-header .menu {
    width: 50%;
    max-height: 0;
    transition: max-height .4s ease-in;
    text-align: center;
}

.menu-icon {
    padding: 2rem 1.5rem;
    position: relative;
    cursor: pointer;
    order: 3;
}

.nav-icon {
    background: #000;
    display: block;
    height: .2rem;
    width: 1.4rem;
    position: relative;
    transition: background .2s ease-out;
    position: right;
}

.nav-icon:before {
    background: #000;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
    transition: all .2s ease-out;
}

.nav-icon:after {
    background: #000;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    transition: all .2s ease-out;
}

.menu-btn {
    display: none;
}

input:checked~.menu {
    max-height: 25rem;
}

.menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: normal;
    color: rgba(68, 68, 68, 0.438);
    text-align: center;
    margin: 2rem 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.col {
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back {
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back {
    background: #093f69;
    background: -webkit-linear-gradient(30deg, #25748b 0%, #000000 100%);
    background: -o-linear-gradient(30deg, #25748b 0%, #000000 100%);
    background: linear-gradient(30deg, #25748b 0%, #000000 100%);
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: rgba(0, 0, 0, 0.336);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

@media screen and (max-width: 64rem) {
    .col {
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem) {
    .col {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .col {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}